.educacion {
     background: rgb(212, 212, 63);
      padding: 20px;
      border-radius: 20px;
      border: 0.5px solid black;
    } 
 #educacion {
      padding: 0;
      list-style: none;
  }
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
        border: 0.5px solid black;
    }
 h1{
        text-align: center;
        
    } 
img{
    border: 0.5px solid black;
}
