<div class="educacion m-3">
  <h1>Educacion</h1>
  
  <ul id="educacion">
    <app-addbutton *ngIf="login" (click)="crearEducacionModal()" ></app-addbutton>
    <li *ngFor="let Edu of educacion">
     <div class="container-fluid">
       <div class="row">
         <div class="col-12 mt-3">
           <div class="card">
             <div class="card-horizontal">
               <div class="img-square-wrapper">
                 <img [src]="Edu.fotourl" class="img-fluid rounded-start" alt="imagen1" />
               </div>
               <div class="card-body">
                 <h4 class="card-title">{{Edu.titulo}}</h4>
                 <h5>{{Edu.institucion}}</h5>
                 <p> Metodologia de trabajo y diseño. Armado de un reporte y presentacion</p>
                 <div *ngIf="login" >
                   <app-editbutton (click)="abrirModal(Edu.ideducacion)" class="me-2"></app-editbutton>   <app-deletebutton  (click)="borrarEducacion(Edu.ideducacion)" > </app-deletebutton>
                 </div>            
               </div>
             </div>
             <div class="card-footer">
               <small class="text-muted"> Fin: {{Edu.fechafin}}</small>
             </div>
           </div>
         </div>
       </div>
     </div>
   </li>
 </ul>
</div>
