.footer{
    background-color:rgba(202, 209, 214, 0.863);
    border: 0.5px solid black;
    border-radius: 20px;
    color: #1f1c1c;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999 ;
}