nav{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: right;
    flex-flow:row nowrap;
    height: 100px;
    align-items: center;
    margin: 2px;
    z-index: 1;
}

nav > #social{
    padding: 0;
    list-style: none;
    margin: 0;
    margin-right: 1rem;
    color:rgba(0, 0, 0, 0.55) ;
    display: flex;
    align-items: center;
    text-align: end;
}
nav > #social > li{
    margin-right: 0rem;
}

nav > #social > li:last-child{
    margin-right: 0rem;
    text-align: end;
}
